1)ставим ip Open:
Выключаем брандмауэр, ставим время включаем сетевое обнаружение
1.2.3.1
255.255.255.240
1.2.3.5
2) установка вижуалки Open:
Диск,VIPNET a 7 r, SOFT,_____000,Server,packages,VISUAL_C
Перезагружаем
меняем время
3) установка бд Open:
E:\VIPNET_A.7_R\SOFT\_____000\SERVER_I\PACKAGES\SQLEXPRE на рабочий стол
4) ставим ip admin:
Выключаем брандмауэр, ставим время включаем сетевое обнаружение
ставим адаптер Net_1
1.2.3.2
255.255.255.240
1.2.3.5
5) установка вижуалки на admin:
E:\VIPNET_A.7_R\SOFT\_____000\SERVER_I\PACKAGES,VISUAL_C
6) продолжаем установку бд на open:
-с нуля
-принимаем соглашение
-имя WINNCCSQL
-аутоматик
-пароль xxXX1234
-в фаилстрим везде галочки
7) ставим цус сервер на Admin:
Перейти в E:\VIPNET_A.7_R\SOFT\_____000\SERVER_I\PACKAGES\RU_RU\WINNCCSE
запуск через powershel с правами администратора и расшерение msi(пока не запускаем)
8) настройка OperCA:
9) настройка Net2 Client
меняем адаптер на Net2
Выключаем брандмауэр, ставим время включаем сетевое обнаружение
cставим ip
2.3.4.1
255.255.255.224
2.3.4.5
10) настройка бд
в SQL Server Configuration Manager
{SQL Server Network Configuration}->Protocol for WINNCCSQL->TCP/IP->Enable->Yes->Применить->ОК
{SQl Server Services}->SQL Server (WINNCCSQL)->ПКМ->Restart
11)ставим цус сервер на Admin:
начинаем установкуточку стираем пишем 1.2.3.1
проверка подленности SQL
пользователь sa
пароль xxXX1234
12) устанавливаем цус клиент на Open:
Перейти в E:\VIPNET_A.7_R\SOFT\_____000\CLIENT_I\PACKAGES\RU_RU\WINNCCCL
запуск через powershel с правами администратора и расшерение msi
13) переходим на OperCA
Выключаем брандмауэр, ставим время включаем сетевое обнаружение
интернет адаптер Net1
ставим IP
1.2.3.3
255.255.255.240
1.2.3.5
14) заходим на Open:
продолжаем установку цус клиент
заходим в него
указываем 1.2.3.2
имя пользователя Administrator
пароль Administrator
текущий Administrator
новый xxXX1234
подключаем диск F7,VIP NET LICENSE 
указываем сеть 2
заходим на admin
E:\VIPNET_A.7_R\SOFT\________Открыть SETUP
15) установка клиента
E:\VIPNET_C.5\SOFTWARE открываем клиент
16)заходим на OperCA
Выключаем брандмауэр, ставим время включаем сетевое обнаружение
накатит вижуалку Диск,VIPNET a 7 r, SOFT,_____000,Server,packages,VISUAL_C
заходим в E:\VIPNET_C Установить
заходим в E:\VIPNET_R. 629\___\SOFT установить
заходим в E:\VIPNET_P. 6\___\SOFT установить
заходим в E:\VIPNET_С.5\SOFTWARE установить
перезагрузить
17) заходим Net2 Client
Выключаем брандмауэр, ставим время включаем сетевое обнаружение
установка вижуалки Диск,VIPNET a 7 r, SOFT,_____000,Server,packages,VISUAL_C
заходим в E:\VIPNET_С.5\SOFTWARE установить
перезагрузить
Заходим на Admin
укц
настроить новую базу данных
стираем точку 1.2.3.1
имя sa
пароль xxXX1234
в настройках пароля ставим собюственный пароль

